<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${lesson.title}">Урок</title>
</head>
<body>
<h1 th:text="${lesson.title}">Название урока</h1>
<p th:text="${lesson.description}">Описание</p>
<p>Язык: <span th:text="${lesson.language}">english</span></p>

<h2>Слова в уроке:</h2>
<ul>
    <li th:each="word : ${lesson.words}" th:text="${word.original + ' — ' + word.translation}">
        dog — собака
    </li>
</ul>

<a th:href="@{/lessons}">← К списку уроков</a>
<br>
<a href="/">На главную</a>
</body>
</html>

<br>
<a th:href="@{'/test/start/' + ${lesson.id}}" style="display: inline-block; padding: 10px; background: green; color: white; text-decoration: none;">
    Начать тест по уроку
</a>